<!DOCTYPE HTML>
<html>

<body>
  <script src="connectAPI.js"></script>
  <script>
    var dataUrl = "https://healthcare.googleapis.com/v1beta1/projects/fhir-357605/locations/us-central1/datasets/my-dataset/fhirStores/my-fhir-store/fhir/Patient"
    var xhr = new XMLHttpRequest()  // XMLHttpRequest物件(以此物件的方法進行資料請求)
    var data
    var token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6ImI5NTUwY2Y5ZjRjNzcyNWU2NGVkMjgzYjgxZjE1ZWFmYzAwZmMwODMifQ.eyJpc3MiOiJmaGlyLTM1MUBmaGlyLTM1NzYwNS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsInN1YiI6ImZoaXItMzUxQGZoaXItMzU3NjA1LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly9oZWFsdGhjYXJlLmdvb2dsZWFwaXMuY29tLyIsImlhdCI6MTY2MTIzNzUzMi41ODYxNDM1LCJleHAiOjE2NjEyNDExMzIuNTg2MTQzNX0.KTPIakDkGDPAWt5xvYNhI00Hp4RxuTW7qwccy1bGNcH4QC-vbKfjr605qTndY1JDwRAkGEGfve-kPWrKJec1Msmkd6K2VPWKmx1DstEdBtknnZ3mKeaBIn065nP4sZjtO0FhQvOpiTGj55Wbnqf7ww2I4SOoFx2Hal6N-dswL6MQTAoYJ61ffrpn0nhuZM4gvLg8sWs09q6FGX0VHsXtNz_BEG7eN_Ku8GHq8FErwnEHq402NWcgWS30mgiAGfcjQ-FMLqAknwwzIMxKmonEHh5EUzUbgs7_LPfb4OuXJfFUjiwKI_KMK_9hXDHnOFa2OXmLkf5hR8HvFdyEMv2ouA'
    xhr.open('GET', dataUrl, true) // 以GET方法開啟一個請求 //open('Method',API的URL,預設值為true非同步進行)
    xhr.setRequestHeader('Authorization', 'Bearer ' + token)
    xhr.send()  // 送出請求(若為GET參數不填或填null)

    // 資料接收/送出成功後執行的function
    xhr.onload = function () {
      data = JSON.parse(this.responseText);
      // console.log(data);
      // console.log(data.entry.length);
      console.log(data.entry[0].resource.id);
      getPatientlist(token);
    }
  </script>
</body>

</html>