@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 770px) {
	body{
		background-image: linear-gradient(to top,rgba(34,34,59,1.00)10% ,rgba(93, 93, 118, 1.00)45%, rgba(146,147,186,1.00) 80%, rgba(242,233,228,0.5)),url("images/titleBG2.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
	}
	.lego{
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: 7.5% 10% 65% 10% 7.5%;
		grid-template-rows: 7.5% 10% 67.5% 7.5% 7.5%;
	}
    .title{
        font-family:"微軟正黑體";
        font-size: 6vmin;
    }
    .text{
        font-family:"微軟正黑體";
        font-size: 4vmin;
    }
	table {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 3vmin;
	}
	th,td {
		text-align: center;
		overflow-wrap: break-word;
		border: 1px solid #000;
		padding: 0.7vh 0.7vw;
	}
}

@media screen and (min-width: 770px){
	body{
		background-image: linear-gradient(to top,rgba(34,34,59,1.00)8% ,rgba(93, 93, 118, 1.00)45%, rgba(146,147,186,1.00) 70%, rgba(242,233,228,0.5)),url("images/titleBG.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
	}
	.lego{
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: 7.5% 10% 65% 10% 7.5%;
		grid-template-rows: 7.5% 15% 62.5% 7.5% 7.5%;
	}
    .title{
        font-family:"微軟正黑體";
        font-size: 6.5vmin;
    }
    .text{
        font-family:"微軟正黑體";
        font-size: 4vmin;
    }
	table {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 2.5vmin;
	}
	th,td {
		text-align: center;
		overflow-wrap: break-word;
		border: 1px solid #000;
		padding: 0.1vh 1.5vw;
	}
}

.list {
	grid-column: 3/4;
	grid-row: 3/4;
	overflow: auto;
	display: flex;
	/*外容器不會隨著內容變化*/
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/*內容高度將延展為容器高度*/
	align-items: center;
	/*內容將由上至下排列*/
	background-color: #F2E9E4;
	/*背景色為白色*/
}

.block{
	grid-column: 2/5;
	grid-row: 2/5;
	background-color: #F2E9E4;
}

.blockResult {
	background-color: #F2E9E4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.model {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.model1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.option {
	text-align: center;
	display: inline-block;
	width: 24vmin;
	height: auto;
	margin:10px;
}

.blockChart {
	align-items: center;
	background-color: #F2E9E4;
	width: 80vmin;
	height: auto;
}

.blockSheet {
	text-align: center;
	background-color: #F2E9E4;
	font-family: "微軟正黑體";
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*內容高度將延展為容器高度*/
	align-items: center;
}

.sheetdata {
	text-align: center;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.pic {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.btn {
	grid-column: 3/4;
	grid-row: 4/5;
	display: inline-flex;
	justify-content: space-around;
	background-color: #F2E9E4;
	align-items: center;
}