.loading-wrapper {
	position: fixed;
  	width: 100%;
  	height: 100%;
  	left: 0%;
  	top: 0%;
  	background-color: #2d3e4f;
	z-index: 9999;
}

.loading-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 30% 40% 30%;

}
  
.loading {
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
  
.containerForText {
	transform: translate(-0%, -0%);
 }
  
.Text {
	white-space: nowrap;
	font-size: 6vmin;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
	align-items: center;
}
  
.text-color {
	width: 50%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	color: #2d3e4f;
	animation: widthChange 3.5s infinite;
}
  
.text-background {
	color: White;
	text-shadow: 0 0 6px #b9bcbd;
}
  
@keyframes widthChange {
	0% {
	  width: 0;
	}
	100% {
	  width: 100%;
	}
}
  
body {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100vh;
	padding: 0;
	margin: 0;
}
  
  
.progress {
	background: rgba(255,255,255,0.1);
	display: flex;
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;

	display: flex;
	height: 4vmin;
	width: 75vmin;
	margin-top: 10px;
}
  
.progress-value {
	animation: load 0.8414s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 100px;
	background: #fff;
	height: 4vmin;
	width: 75vmin;
	margin-top: 10px;
}
  
@keyframes load {
	0% { 
		width: 0; 
	}
	100% { 
		width: 100%; 
	}
}