@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 770px) {
	body{
		background-image: linear-gradient(to top,rgba(34,34,59,1.00)10% ,rgba(93, 93, 118, 1.00)45%, rgba(146,147,186,1.00) 80%, rgba(242,233,228,0.5)),url("images/titleBG2.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
	}
	.lego{
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: 10% 7.5% 65% 7.5% 10%;
		grid-template-rows: 7.5% 10% 12.5% 52.5% 7.5% 10%;
	}
    .title{
        font-family:"微軟正黑體";
        font-size: 6vmin;
    }
    .text{
        font-family:"微軟正黑體";
        font-size: 4vmin;
        text-align:left;
		margin-left: 7vmin;
    }
}

@media screen and (min-width: 770px){
	body{
		background-image: linear-gradient(to top,rgba(34,34,59,1.00)8% ,rgba(93, 93, 118, 1.00)45%, rgba(146,147,186,1.00) 70%, rgba(242,233,228,0.5)),url("images/titleBG.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
	}
	.lego{
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: 10% 7.5% 65% 7.5% 10%;
		grid-template-rows: 5% 15% 20% 45% 10% 5%;
	}
    .title{
        font-family:"微軟正黑體";
        font-size: 6.5vmin;
    }
    .text{
        font-family:"微軟正黑體";
        font-size: 3.5vmin;
        text-align:left;
		margin-left: 10vmin;
    }
}

.block{
	grid-column: 2/5;
	grid-row: 2/6;
	background-color: #F2E9E4;
}
.blockText{
	grid-column: 3/4;
	grid-row: 3/4;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: center;
	background-color: #F2E9E4;
}
.pic{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.bg{
	grid-column: 2/5;
	grid-row: 2/6;
	background-color: #F2E9E4;
}
.sea{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #F2E9E4;
}
.model{
	grid-column: 3/4;
	grid-row: 4/5;       
	overflow:auto;
	background-color:#F2E9E4;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content:flex-start;
	flex-wrap: wrap;
}
.option{
	text-align:center;
	display: inline-block;
	width: 26vmin;
	height: auto;
	font-weight: 500;
	font-size:3.5vmin;
}
.btn{
	grid-column: 3/4;
	grid-row: 5/6;
	background-color:#F2E9E4;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
}