<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>急重症風險分析支援系統</title>
	<link rel="stylesheet" href="./static/CSS/text.css">
	<link rel="stylesheet" href="./static/CSS/LoginLayout.css">
	<link rel="shortcut icon" href="./static/images/ccass.ico" type="image/x-icon">
</head>

<body>
	<nav>
		<ul>
			<li></li>
			<li><a href="https://nfsepsisanalysis-xiglc7mhia-uc.a.run.app/login"><img
						src="images/ccass.ico">急重症風險分析支援系統</a></li>
		</ul>
	</nav>
	<form action="/login" method="POST">
		<div class="lego">
			<div class="block">
				<h3 class="title"><strong>急重症風險分析支援系統</strong></h3>
				<h1 class="text" style="margin-top:-4vmin; margin-bottom: 3.5vmin;">（敗血症及壞死性筋膜炎）</h1>
				<div class="signin">
					<p class="text">
						帳號：<input name="username" class="text" />
					</p>
					<p class="text">
						密碼：<input name="password" class="text" type="password" autocomplete="current-password" />
					</p>
					<p class="text">
						<button id="login" class="text">登入</button>
					</p>
				</div>
			</div>
		</div>
	</form>
</body>

</html>