<!DOCTYPE HTML>
<html>

<body>
    <ul>
        <li><a href="https://analyzeproject-xrttnigg7q-de.a.run.app" target="_blank">導向登入頁面</a>
            https://analyzeproject-xrttnigg7q-de.a.run.app</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientlistlogin" target="_blank">登入頁面</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientlistlogin</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientlistpatientlist" target="_blank">病患清單</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientlistpatientlist</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientlistpatientprofile" target="_blank">病患資料</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientlistpatientprofile</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientlistNFchoice" target="_blank">選擇想使用的模型分析方法</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientlistNFchoice</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientlistNF" target="_blank">顯示NF預測結果</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientlistNF</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientlistsepsis" target="_blank">顯示敗血症預測結果</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientlistsepsis</li>
    </ul>
</body>

</html>