<!DOCTYPE HTML>
<html>

<body>
    <ul>
        <li><a href="http://localhost:5000" target="_blank">導向登入頁面</a>
            http://localhost:5000</li>
        <li><a href="http://localhost:5000/login" target="_blank">登入頁面</a>
            http://localhost:5000/login</li>
        <li><a href="http://localhost:5000/patientlist" target="_blank">病患清單</a>
            http://localhost:5000/patientlist</li>
        <li><a href="http://localhost:5000/patientprofile" target="_blank">病患資料</a>
            http://localhost:5000/patientprofile</li>
        <li><a href="http://localhost:5000/NFchoice" target="_blank">選擇想使用的模型分析方法</a>
            http://localhost:5000/NFchoice</li>
        <li><a href="http://localhost:5000/NF" target="_blank">顯示NF預測結果</a>
            http://localhost:5000/NF</li>
        <li><a href="http://localhost:5000/sepsis" target="_blank">顯示敗血症預測結果</a>
            http://localhost:5000/sepsis</li>
    </ul>
</body>

</html>