<!DOCTYPE HTML>
<html>

<body>
    <ul>
        <li><a href="https://analyzeproject-xrttnigg7q-de.a.run.app" target="_blank">導向登入頁面</a>
            https://analyzeproject-xrttnigg7q-de.a.run.app</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/login" target="_blank">登入頁面</a>
            https://fhir2-dm5wodoipq-de.a.run.app/login</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientlist" target="_blank">病患清單</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientlist</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/patientprofile" target="_blank">病患資料</a>
            https://fhir2-dm5wodoipq-de.a.run.app/patientprofile</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/NFchoice" target="_blank">選擇想使用的模型分析方法</a>
            https://fhir2-dm5wodoipq-de.a.run.app/NFchoice</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/NF" target="_blank">顯示NF預測結果</a>
            https://fhir2-dm5wodoipq-de.a.run.app/NF</li>
        <li><a href="https://fhir2-dm5wodoipq-de.a.run.app/sepsis" target="_blank">顯示敗血症預測結果</a>
            https://fhir2-dm5wodoipq-de.a.run.app/sepsis</li>
    </ul>
</body>

</html>